<td>{{model.title}}</td>
<td>{{model.owner}}</td>
<td>{{model.access}}</td>
<td class="desc">{{model.description}}</td>
<td>{{#link-to "initiatives.initiative" model.id}}<i class="fas fa-arrow-alt-circle-right"></i>{{/link-to}}</td>
