body {
  padding-top: 3.5rem;
}

/* index */
.jumbotron.index {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/hub-banner.jpg) center top/cover no-repeat;
}

.jumbotron .input-group {
  margin-left: auto;
  margin-right: auto;
}

.table.table-striped tbody svg {
  width: 32px;
  height: 32px;
}

dl {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
}

.initiative-banner-img {
  width: 100%;
}
